body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: bold;
    color: #333;
}

h1 {
    font-size: 36px;
    margin-top: 50px;
}

h2 {
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card p {
    font-size: 18px;
    margin: 10px;
    text-align: left;
}
